.listUsers{
    margin-top: 10px;
    width: 370px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}