img {
    width: 300px;
}
.success{
    width: 300px;
    margin-top: 90px;
    font: 100 20px 'Roboto', sans-serif;
}
.btn{
    margin-top: 20px;
    background-color: #288FB4;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 25px;
    color: #FFFFFF;
    font-size: 14px;
    font: 400 14px 'Roboto', sans-serif;
}
p{
    text-align: center;
}